<p>
  vehicle works!
</p>

<div>
  <button type="button" (click)="toggleMode()">plus</button>
  <div [hidden]="toggleAdd">
    <input type="text" [(ngModel)]="vehicleName">
    <input type="text" [(ngModel)]="vehicleId">
    <button type="button" (click)="addVehicle()"></button>
  </div>
</div>

<div>
  <table>
    <thead>
    </thead>
    <tbody>
    <tr *ngFor="let vehicleItem of vehicleStored">
      <td>{{vehicleItem.id}}</td>
      <td>{{vehicleItem.name}}</td>
    </tr>
    </tbody>
  </table>

</div>
